/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

.section {
  padding: 5rem 0;
}

.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.memes-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  /* align-items: start; */
}

@media screen and (min-width: 576px) {
  .memes-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

.meme {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
}

.meme:hover {
  box-shadow: var(--darkShadow);
}

.meme img {
  width: 100%;
  display: block;
  height: 34vh;
  -o-object-fit: fill;
     object-fit: fill;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}

@media screen and (max-width: 780px) {
  .meme img {
    height: 52vh;
  }
}

.meme-footer {
  padding: 1.5rem;
}

.meme h3,
.meme-footer h4,
.meme-footer p {
  margin-bottom: 0.3rem;
  text-align: center;
}

.meme h3 {
  font-size: 1.8rem;
  font-weight: bold;

}

.meme-footer h4 {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

#searchMemes input {
  width: 70%;
  text-align: center;
}
